<h1> <%= @message.title %> </h1>

Send to: <%= @message.emails %> 
<br />
<%= form_for @message, url: send_message_message_path(@message), data: { autosave_url: message_path(@message) } do |f| %>
  <%= f.text_area :body, class: 'ckeditor', size: "100x10" %>
  <br />
  <%= f.submit "Send!" %>
<% end %>

<div id="timer"></div>

<%= javascript_tag do %> 
  Timer.start("<%= @message.time_limit %>");
  startAutosave();
<% end %>
